.App {
  text-align: center;
}
.App-header {
  background-color: #004953;
  min-height: 85vh;
  display:grid;
 
  place-items: center;
  

  color: rgb(199, 170, 134);
}
ul{
  display:flex;
  flex-direction: row;
}
li{
  list-style-type: none;

  
}
